<div class="table-container">
    <p class="table-title">Data <%= props.title %></p>
    <div class="table-wrapper">
        <table class="table">
            <thead class="table__head">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <% props.data.map((el, index)=> { %>
                    <tr>
                        <td><%= el.id %></td>
                        <td><%= el["Person.name"] %></td>
                        <td><%= el.email %></td>
                        <td><%= el["Person.phone"] %></td>
                        <td><%= el["Person.address"] %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>